.flex {
    background-color: rgb(132, 97, 212);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-height: calc(100vh - 15vw);
}

.card {
    flex-grow: 1;
    position: relative;
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    margin: 10px;
    background-color: rgb(83, 25, 25);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 30px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 5px;
    max-height: 200px;
}

p.header__p {
    font-size: 15vw;
    margin: 0;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    min-height: calc(100vh - 15vw);
    grid-auto-flow: dense;
}

@media(max-width:1540px) {
    .grid {
        grid-template-columns: repeat(6, auto);
    }
}

@media(max-width:1317px) {
    .grid {
        grid-template-columns: repeat(5, auto);
    }
}

@media(max-width:1117px) {
    .grid {
        grid-template-columns: repeat(4, auto);
    }
}

@media(max-width:880px) {
    .grid {
        grid-template-columns: repeat(3, auto);
    }
}

@media(max-width:680px) {
    .grid {
        grid-template-columns: repeat(2, auto);
    }
}

@media(max-width:460px) {
    .grid {
        grid-template-columns: minmax(200px, 400px)
    }
}